[user]
	name = Adrien Thebo
	email = git@somethingsinistral.net
	signingkey = 6F1C4519
[core]
	excludesfile = ~/.gitignore
	editor = vim
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[diff]
	mnemonicprefix = true
[merge]
	stat = true
	conflictstyle = diff3
[push]
	default = current
[alias]
	wdiff = diff --word-diff
	ci = commit -v
	st = status --short --branch
	wat = log -p
	lg = "log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(green)%d%C(reset)' --graph"
	forward = pull --ff-only
	redo = commit --amend -C HEAD
	rebase-master = !git rebase -i $(git merge-base master HEAD)
	where = rev-parse --abbrev-ref HEAD
	smash = reset --hard
[github]
	user = adrienthebo
[gist]
	browse = yes
