*.swp
*.o
tags
tags.lock
tags.temp
.rvmrc
pkg/*
.yardoc
.DS_Store
.bundle
_vendor
.vagrant
.ctags
.pe_build
__pycache__
*.pyc
*.pyo
/target
.eggs
.pytest_cache
*.egg-info
.terraform
terraform.tfstate
terraform.tfstate.*
.envrc
credentials.json
